<html>
  <head>
    <title>Bracket</title>
  </head>
  <body>
    <script src="https://unpkg.com/interactjs@1.3.3/dist/interact.min.js"></script>
    <script src="bracket.js" type="module"></script>
    <link href="main.css" rel="stylesheet" type="text/css">
    <div id="container">
      <!-- <div id="drag-1" class="draggable">
        <p> You can drag one element </p>
      </div>
      <div id="drag-2" class="draggable">
        <p> with each pointer </p>
      </div> -->
    </div>
  </body>
</html>